<div class="d-flex justify-content-center mt-5">
  <div class="w-75 table-responsive">
    <div class="d-flex justify-content-between mb-3">
      <input
        type="text"
        class="form-control w-50"
        placeholder="Pesquisar..."
        [(ngModel)]="filtro"
        (input)="filtrarPagamentos()"
      />
      <div class="dropdown">
        <button class="btn btn-light btn-lg dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ filterByTypeSelecionado || 'Filtrar por Status' }}
        </button>
        <ul class="dropdown-menu bg-white w-100">
          @for (item of statusPagamentoDatasource; track item.id) {
            <button class="dropdown-item" (click)="filtrarByStatus(item?.nome)">{{ item.nome }}</button>
          }
        </ul>
      </div>
      @if (isFiltered) {
        <button
          class="btn btn-outline-danger"
          (click)="limparFiltroStatus()"
          title="Limpar filtro"
          style="height: 38px;"
        >
          <i class="bi bi-trash"></i>
        </button>
      }

      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="irParaForm()"
      >
        Novo Pagamento
      </button>
    </div>
    <table class="table table-striped table-hover text-center align-middle">
      <thead>
      <tr>
        <th scope="col">Identificação</th>
        <th scope="col">Método Pagamento</th>
        <th scope="col">Valor</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
      </thead>
      <tbody>
        @for (item of pagamentosDatasource; track item.id; let i = $index) {
          <tr>
            <td>{{ item.cpfCnpj }}</td>
            <td>{{ item.tipo }}</td>
            <td>{{ item.valor | currency:'BRL' }}</td>
            <td>
              <div
                class="badge rounded-pill"
                [ngClass]="{
                'text-bg-success':item?.status == 'Processado Sucesso',
                'text-bg-secondary':item?.status == 'Pendente Processamento',
                'text-bg-danger':item.status == 'Processado Falha'
              }"
              >
                {{ item.status }}
              </div>
            </td>
            <td>
              <div class="d-flex gap-2 text-center justify-content-center">
                <button type="button" class="btn btn-outline-primary" (click)="inativar(item?.id)">Inativar</button>
                <button type="button" class="btn btn-outline-primary" (click)="processarPagamentos()">Processar</button>
              </div>
            </td>
          </tr>
        }
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5" class="bg-dark-subtle"></td>
      </tr>
      </tfoot>
    </table>

    @if (mostrarToast) {
      <div
        class="toast align-items-center border-0 position-fixed bottom-0 end-0 m-3"
        [ngClass]="classeToast"
        style="z-index: 1055; display: block;"
        role="alert"
      >
        <div class="d-flex">
          <div class="toast-body">
            {{ mensagemToast }}
          </div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            (click)="mostrarToast = false"
          ></button>
        </div>
      </div>
    }


  </div>
</div>




<router-outlet></router-outlet>
